.vscode/**
.vscode-test/**
out/**
node_modules/**
# NOTE: copy to webview-ui/build/assets/ when build by vite
# !node_modules/@vscode/codicons/dist/**
src/**
.gitignore
.yarnrc
webpack.config.js
webview-ui/**
!webview-ui/build/assets/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
../**/*
