body {
	background-color: transparent;
}

textarea {
	resize:vertical;
}

.query-widget{
	display: flex;
	align-items: stretch;
}

.query-replace-toggle{
	flex-shrink: 1;
	align-content: center;
	margin: auto;
}

.query-container{
	flex-grow: 1;
}